<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>taskName</key>
	<string>BP</string>
	<key>dataDirectory</key>
	<string>~/Desktop</string>
	<key>TKBPDeviceName</key>
	<string>terminal ls /dev for device name</string>
	<key>TKBPPollingFrequency</key>
	<integer>1</integer>
	<key>TKBPReadingMinimumLength</key>
	<integer>8</integer>
	<key>shouldRunOnLaunch</key>
	<true/>
</dict>
</plist>
