<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Demo Subject</string>
		<key>id</key>
		<string>000</string>
		<key>study</key>
		<string>0000</string>
	</dict>
</array>
</plist>
