<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Travis</string>
		<key>id</key>
		<string>007</string>
		<key>study</key>
		<string>1234</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cassie</string>
		<key>id</key>
		<string>008</string>
		<key>study</key>
		<string>1234</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Megan</string>
		<key>id</key>
		<string>005</string>
		<key>study</key>
		<string>0011</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ricky</string>
		<key>id</key>
		<string>123</string>
		<key>study</key>
		<string>1234</string>
	</dict>
</array>
</plist>
