<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1000</key>
	<dict>
		<key>description</key>
		<string>Invalid Data Directory - You can modify the data directory in the preferences by using the application menu (BP -&gt; Preferences)</string>
	</dict>
	<key>1010</key>
	<dict>
		<key>description</key>
		<string>Invalid Device Name - You can modify the device name in the preferences by using the application menu (BP -&gt; Preferences)</string>
	</dict>
	<key>1015</key>
	<dict>
		<key>description</key>
		<string>The device is currently not responding</string>
	</dict>
	<key>1020</key>
	<dict>
		<key>description</key>
		<string>Determination has failed - Please check the device</string>
	</dict>
</dict>
</plist>
